#contact {
  background: #ffffff;

  h1 {
    text-align: center;
    color: #414a4f;
  }

  hr {
    width: 100px;
    border: 1px solid #55acee;
    margin: 1.25rem auto;
    text-align: center;
  }

  p {
    text-align: center;
    color: #414a4f;
  }

  .contact-form {
    padding: 1.5rem 1.5rem;

    .labeled-input {
      padding: 0.5rem;

      input {        
      }

      textarea {
        resize: none;
        height: 10rem
      }
    }

    .submit-button {
      padding: 0.5rem;
    }
  }
}